@{
    Layout = "_Layout";
    ViewData["Title"] = "Index";
}

<h1>Welcome, Entity Framework welcomes you!</h1>
<p>During the test, two tables in community has been accidently deleted, only Omega works so far... Sorry fot the inconvience.</p>